.label {
    font: normal normal bold 16px Arial, Helvetica, sans-serif;
}

.error {
    font: oblique normal bold 12px Arial, Helvetica, sans-serif;
    color: #dc143c;
}

div {
    margin-bottom: 30px;
}

th {
    text-align: left;
    padding-right: 10px;
}

td {
    padding-right: 10px;
}